{% extends 'base-back.html.twig' %}

{% block title %} Service après vente {% endblock %}

{% block body %}
    <h1>Liste des paniers</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>UtilisateurID</th>
            <th>Date</th>
            <th>Etat</th>
        </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.panierid }}</td>
                <td>{{ panier.utilisateurid }}</td>
                <td>{{ panier.datepanier ? panier.datepanier|date('Y-m-d') : '' }}</td>
                <td>{{ panier.etatpanier }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
