{% extends 'cours/base-front.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <div class="imgpub">

    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <center>

        <form action="{{ path('question') }}" method="post" class="form-group">



            <select name="quiz" id="quiz">
                {% for i in cours %}
                <option value="{{ i.id }}" >{{ i.nomcours }}</option>
                {% endfor %}
            </select>







            <br>
            <br>
            <input type="submit" value="Passer" class="submit">
        </form>
    </center>
    <br>
    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>





    <style>
        .submit {
            margin-top: 40px;
            margin-bottom: 20px;
            background:  #0080ff ;
            text-transform: uppercase;
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 36px;

            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
        imgpub {
            overflow: hidden;
            z-index: 2;
            position: absolute;
            left: 0   ;
            top: 0;
            padding-top: 200px;
            background-repeat: no-repeat;
            background-position: center;

        }
        .imgpub:before {
            content: "";
            position: absolute;
            right: 0;
            top: 5%;
            background-repeat: no-repeat;
            width:90%;
            height: 40%;
            background-position: center;

            transition: transform 1.2s ease-in-out;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Logo_ESPRIT_-_Tunisie.png");

        }

    </style>

{% endblock %}