.dialog-pane .content {
    -fx-border-color: red;
    -fx-alignment: center;
}

#nombreCommandes, #nombreNotifications, #prixTotalPanier, #nomCommande, #prixCommande, #labNomService, #labNomClient, #labNumCarte, #labDateExpiration, #labValabilite, #labCodeSecret, #labDetailCarte {
  -fx-font-family: "Courier New", Courier, monospace;
  -fx-font-size: 16pt;
  -fx-font-weight: bolder;
  -fx-text-fill: white;
}

#nombreCommandes, #nombreNotifications, #prixTotalPanier, #nomCommande, #prixCommande {
  -fx-text-fill: indigo;
}

#prixCommande {
  -fx-font-size: 20pt;
  -fx-text-fill: darkcyan;
}

#labDateExpiration, #labValabilite {
  -fx-font-size: 9pt;
}

#labNomClient, #labCodeSecret {
  -fx-font-size: 11pt;
}

#labCodeSecret {

  -fx-text-fill: black;
}

#labDetailCarte {
  -fx-font-size: 7pt;
}

#ajouterCde1Bouton, #ajouterCde2Bouton, #ajouterCde3Bouton, #ajouterCde4Bouton, #annulerCde1Bouton, #annulerCde2Bouton, #annulerCde3Bouton, #annulerCde4Bouton, #afficherPanierBouton, #retourPanierBouton, #afficherNotificationsBouton {
  -fx-background-color:white;
  -fx-font-family: "Courier New", Courier, monospace;
  -fx-font-size: 20pt;
}

#ajouterCde1Bouton, #ajouterCde2Bouton, #ajouterCde3Bouton, #ajouterCde4Bouton {
  -fx-background-color: green;
}

#afficherPanier, #btnRetourPanier,#btnReclamerPanier {
  -fx-background-color: #f6f6f6
}

#btnPayerPanier, #btnSeDeconnecter {
  -fx-background-color: #ededed
}

#annulerCde1Bouton, #annulerCde2Bouton, #annulerCde3Bouton, #annulerCde4Bouton {
  -fx-background-color:red;
}