{% extends 'base-front3.html.twig' %}

{% block title %} Payer Votre Panier {% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1 style="text-align: center">Payer votre panier</h1>
    </section>

    <form action="/payerPanier" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Veuillez saisir vos coordonnées bancaires :
            </label>
            <div id="card-element">
                <!-- a Stripe Element will be insrted here -->
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
        </div>
        <a href="{{path("confirmationPaiement")}}" class="btn btn-success"><i class="bi bi-bag-check"></i> Payer votre panier</a>
    </form>

{% endblock %}

{% block javascripts %}

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('pk_test_51K18bVIW3TxZrnWPY1XgNpC8SNkiKuMonCrAuuB47i7dIjuYaim9sFZO0HFoJtb7Xz6v5gm6HthjpdwryRgH95d8005qlpnqQ1');
        var elements = stripe.elements();
        var style = {
            base: {
                fontSize: '16px',
                lineHeight: '24px'
            }
        };
        var card = elements.create('card', {style: style});
        card.mount('#card-element');
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });
        function stripeTokenHandler(token) {
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            form.submit();
        }
    </script>

{% endblock %}
