<body>
<div id='1'/>
<h1>
    <center>
        <h2>Félicitations</h2>

        <img  width='10 %' src='https://mustaphabenhadjyahia.github.io/img/esprit.jpg',  ><br>



        Vous avez passez le test


        <h1>    Bien débuter avec Spring        </h1>

        <img src='https://www.pngrepo.com/png/194568/180/qr-code.png', class='style'>
    </center>

</h1>
<style>
    body {
        background-color: #5DCAEF;

    }
    #1{
        border-style : solid;
        display : inline-block;
        height : 0;
        width : 0;
        border-top : 80px solid brown;
        border-right : 180px solid transparent;
        border-left : 180px solid transparent;
    }
    .style{
        max-width: 200px;
        height: 83px;
        alignment:left;
    }
    .esprit{
        width: 10 %;
        display : inline-block;
        border-right : 180px solid transparent;
        border-left : 180px solid transparent;
        border-top : 80px solid transparent;



    }
</style>
</body>