{% extends 'cours/base-front.html.twig' %}
{% block body %}


    {% if res >= 80  %}
        <br>

        <br><br>

        <div class="ggt"></div>
        <br>
        <center>            <br><br><br><br><br><br><br><br><br><br>
            <h1>Félicitations  votre score est {{ res }} %</h1>
            <br>
            <div align="center"> <h1> <a href="{{ path('certif')}}" class="submit">  imprimer</a> </h1>  </div>
        </center>




    {% else %}
        <br>

        <br><br>

        <div class="imgpub">

        </div>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br>
        <center>
            <h1>Malheuresement , vous avez echoué ,  votre score est {{ res }} %</h1>
            <br>
            <h2>Veuillez réessayer</h2>
            <br>
        </center>

    {% endif %}








{% endblock %}